name: Mirror to Account A

on:
  push:
    branches:
      - main

jobs:
  git-sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Push to Account A
        env:
          GITHUB_TOKEN: ${{ secrets.VERCEL_SYNC }}
        run: |
          git config --global user.name "reputascore-bit"
          git config --global user.email "reputa.score@gmail.com"
          git remote set-url origin https://reputascore-bit:${GITHUB_TOKEN}@github.com/Mediceberg/Reputa-Analytics.git
          git push -f origin main
