name: Mirror to Main Repo

on:
  push:
    branches:
      - main

jobs:
  git-sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Push to Account A
        run: |
          git remote add destination https://x-access-token:${{ secrets.VERCEL_SYNC }}@github.com/Mediceberg/Reputa-Analytics.git
          git push -f destination main
